<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE==Safari, Chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get all Frogs</title>
    <link rel="icon" href="img/P_logo.png" type="image/x-icon">      <!-- tu wjebac zabe -->
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body onload="document.body.style.opacity='1'">

    {% include 'navbar_component.html' %}

    {% block content %}

    {% endblock content %}

</body>

</html>