
<div class="nav">
    <div class="logo">
            <img src="img/zaba-megiczna.png" alt="magiczna zaba" style="width: 200px; height: 140px;">
    </div>
    <div class="link">
        <ul>
            <li><a href="ranking/ranking.html" >Ranking</a></li>
            <li><a href="forums/forums.html">POI - Forums</a></li>
            <li><a href="achievements/achievements.html">Achievements</a></li>
            <li><a href="/authenti/login">Login</a></li>
            <li><a href="/authenti/register">Register</a></li>
            <li><a href="/authenti/logout">Logout</a></li>            
        </ul>
    </div>
</div>   