{% load static %}
{% if user.is_authenticated %}
<div class="nav">
    <div class="logo">
        <a href= "{% url 'home' %}" class = "here-link">
            <img src="{% static 'mz.jpg' %}" alt="magiczna zaba" style="width: 200px; height: 140px;">
        </a>
    </div>
    <div class="link">
        <ul>
            <li><a href="/stores/">Points of interest</a></li>
            <li><a href="/pages/visited.html">Visited Żabkas</a></li>              
            <li><a href="/achievments/">Achievements</a></li>
            <li><a href="/achievments/leaderboard.html">Leaderboard</a></li>
            <li><a href="/authenti/logout">Logout</a></li>   
        </ul>
    </div>
</div>   
{% else %}
<div class="nav">
    <div class="logo">
        <a href= "{% url 'home' %}" class = "here-link">
            <img src="{% static 'mz.jpg' %}" alt="magiczna zaba" style="width: 200px; height: 140px;">
        </a>
    </div>
    <div class="link">
        <ul>
            <li><a href="/authenti/login">Login</a></li>
            <li><a href="/authenti/register">Register</a></li>           
        </ul>
    </div>
</div>  

{% endif %}